@model HouseBroker.Core.DTOs.PropertyDTOs.PropertyReadDTO

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white">@Model.PropertyName</h1>

<div>
    <div class="card mb-3 p-2" style="width: 100%; background-color:white">

        <div class="row no-gutters align-items-start">
            <div class="col-md-4">
                <img class="card-img-top" src="@Model.PhotoURL" alt="Property Photo" style="height: 300px">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card-text-wrapper pb-2" style="border-bottom: 1px solid #000;">
                        <p class="card-title text-black" style="font-size: 24px; font-weight: 800">@Model.PropertyType</p>
                    </div>
                    <p class="card-text text-black">@Model.PropertyDescription</p>
                </div>
                <div class="card-body row flex justify-content-start gap-3">
                    <a asp-action="Edit" asp-route-id="@Model.PropertyId" class="btn btn-primary" style="width: 50%">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary" style="width: 50%">Back to List</a>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color:green; font-size: 22px; line-height: 2; font-weight: 600">NRS. @Model.AskingPrice</li>
                    <li class="list-group-item text-black">@Model.State , @Model.District , @Model.Municipality - @Model.WardNo </li>
                    <li class="list-group-item text-black">Broker Contact No: 1234567890 </li>
                    <li class="list-group-item text-black flex-row">
                        Listed At: @Model.DateCreated.ToShortDateString()
                        @if (Model.DateModified != null)
                        {
                            <p>Last Modified: @Model.DateModified.Value.ToShortDateString()</p>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
